:root {
    --light-square: 225, 212, 203;
    --dark-square: 132, 161, 191;
    --checked-square: 205, 0, 0;

    --win-color: 133, 169, 78;
    --draw-color: 100, 100, 100;
    --lose-color: 168, 77, 77;

    --background-color: 25, 25, 25;

    --font-color: 238, 238, 238;
    --font: monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: rgba(var(--font-color), 1);
    font-family: var(--font);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: rgba(var(--background-color), 1);
}

ul {
    list-style: none;
}

.btn {
    padding: .5rem 1rem;

    outline: none;
    border: 1px solid rgba(var(--font-color), 1);
    background-color: transparent;

    font-size: 18px;

    cursor: pointer;
}
.btn:hover,.btn:focus {
    border: 1px solid rgba(var(--font-color), .5);

    color: rgba(var(--font-color), .5);
}


.menu-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    overflow: hidden;
}
.menu-container h1 {
    font-size: 48px;
}
.menu-container p {
    font-size: 24px;
}
.menu-container .menu-buttons {
    margin: 1rem 0;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.menu-footer {
    padding: 1rem;

    display: flex;
    justify-content: flex-end;
}



.game-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
}
.game-container .main {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 4x4 board */
.game-container .board {
    width: auto;
    height: 80%;
    aspect-ratio: 1/1;

    display: grid;
}
.square {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    background-size: cover;

    font-size: 24px;

    cursor: pointer;
}
/* Checkerboard pattern */
.square {
    background-color: rgba(var(--light-square), 1);
}
.square:hover,.square:focus {
    background-color: rgba(var(--light-square), .5);
}
.square.dark {
    background-color: rgba(var(--dark-square), 1);;
}
.square.dark:hover,.square.dark:focus {
    background-color: rgba(var(--dark-square), .5);
}
.square.highlight::after {
    content: '';
    position: absolute;
    margin: auto;

    width: 40%;
    height: 40%;

    border-radius: 50%;
    background-color: rgba(var(--background-color), 0.3);
    pointer-events: none;
}
.square.checked {
    background-color: rgba(var(--checked-square), 1);
}
.square.checked:hover,.square.checked:focus {
    background-color: rgba(var(--checked-square), .5);
}

.game-container .main .opponent {
    margin: .5rem 0;

    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.game-container .main .opponent .captures {
    display: flex;
    gap: .75rem;
}
.game-container .main .opponent .captures ul {
    display: flex;
    gap: .3rem;
}

.game-container .sidebar {
    padding: 1rem;

    height: 80%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.popup-card {
    position: fixed;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(var(--background-color), 0.5);
}
.popup-card.hidden {
    display: none;
}
.popup-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: auto;
    aspect-ratio: 4/3;
}
.popup-card .card > * {
    padding: 2rem;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-card .card header {
    height: 40%;

    flex-direction: column;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgba(var(--draw-color), 1);
}
.popup-card.won .card header {
    background-color: rgba(var(--win-color), 1);
}
.popup-card.draw .card header {
    background-color: rgba(var(--draw-color), 1);
}
.popup-card.lost .card header {
    background-color: rgba(var(--lose-color), 1);
}
.popup-card .card main {
    height: 60%;

    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(var(--background-color), 1);
}